/* Components */
body {
  background-color: #148f51;
  color: #e6e6e6;
}

.logo {
  font-weight: bold;
  font-size: 2.1rem;
  margin-bottom: 10px;
}

.section-label {
  text-align: center;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

.card {
  padding: 0 30px 0 30px;
}

/* Buttons */
button.btn-primary {
  margin-top: 30px;
  width: 100%;
  background-color: #e6e6e6;
  border: 2px solid #e6e6e6;
  border: none;
  border-radius: 5px;
  color: #24272b;
  font-weight: bolder;
  font-size: 1.1em;
  min-height: 50px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: background-color 0.7s, color 0.6s;
}

button.btn-secondary {
  width: 100%;
  min-height: 40px;
  border: 2px solid #24272b;
  background-color: #e6e6e6;
  border-radius: 5px;
  color: #24272b;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s, color 0.4s, box-shadow 0.5s;
}

button.btn-secondary:hover {
  color: #e6e6e6;
  background-color: #24272b;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);
}

button:disabled {
  box-shadow: none;
  border: 2px solid #e6e6e6;
  background: none;
  color: #e6e6e6;
  opacity: 0.8;
}

.dim-container {
  background-color: black;
  opacity: 0.5;
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#result-container,
#scoreboard-container {
  z-index: 101;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#result-card,
#scoreboard-card {
  width: 250px;
  min-height: 250px;
  padding: 30px;
  border-radius: 20px;
  background-color: #e6e6e6;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#result-card h1,
#scoreboard-card h1 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

#result-card h2 {
  font-size: 3rem;
  color: #24272b;
}

h1.winner,
#scoreboard-card h1 {
  color: #148f51;
}

h1.loser {
  color: #c73c3c;
}

#scoreboard-card ul {
  margin: 20px 0 20px 0;
}
#scoreboard-card ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#scoreboard-card ul li p {
  color: #24272b;
}
