/* Forms */

#login input,
#signup input {
  margin-top: 30px;
  padding: 10px 0px 10px 10px;
  width: 100%;
  background-color: #148f51;
  color: #e6e6e6;
  border: none;
  border-bottom: solid 2px #e6e6e6;
  font-size: 1em;
}

#login p,
#signup p {
  margin-top: 30px;
  font-size: 0.9em;
}

#login p a,
#signup p a {
  color: #24272b;
}

::placeholder {
  color: #e6e6e6;
}
