/* Layouts */
.wrapper {
  margin: 0 auto;
  padding: 0 30px 0 30px;
  max-width: 375px;
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

/* Text Positioning */
.center-text {
  text-align: center;
}
