/* Layouts */
.wrapper {
  margin: 0 auto;
  padding: 0 30px 0 30px;
  max-width: 500px;
}

.flex {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Text Positioning */
.center-text {
  text-align: center;
}
