/* Normalize CSS */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #e6e6e6;
  box-sizing: border-box;
}
input {
  display: block;
}
a {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style-type: none;
}
